<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}


div.ex1 {
  width: 100%;
  height: 150px;
  overflow: scroll;
}

}
</style>
</head>
<body>

<div class="about-section">
  <h1>About Us </h1>
</div>

<br>
<br>

<h5> Our Mission</h5>
<div>
  <p>
    The Grinnell Computer Science department has always valued diversity and inclusion within its department. In recent years, they have renewed their goals and made inclusion and equity in computing one of their top priorities. This project hopes to extend the department’s efforts to that end by introducing a resource that enables individuals to educate themselves on issues surrounding anti-racism. 
  </p>
  <p>
    The Anti Racism Library would be a web-app that curates resources on anti-racism and cultural awareness. The goal is to have a tool that can be used in and outside of  classes, with a searchable list of resources, based on keywords and relevance. This project will serve as a starting point for the Computer Science Department to provide anti-racism resources that will be available for Grinnell faculty, staff and students.
  </p>
</div>

</body>
</html>
