@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

$dark: black;
$light: white;
$background-dark: rgb(218, 41, 28);
$background-light: rgb(255,236,236);

.navbar {
        margin-bottom: 0;
        background: $dark ;
} 
body {
       background: $background-light;
        color: $dark;
        font-family: 'Merriweather', sans-serif;
}
h1,
h2 {      
        margin-top: 40px;
        font-weight: bold;
}
p {
        font-size: 16px;
}

.jumbotron {
        background: #0048CD;
        color: $light;
        text-align: center;
        p {
                color: $light;
                font-size: 26px;
        }
}
.link {
        color: $light;
}
.btn-primary {
        color: $dark;
        border-color: $light;
        margin-bottom: 5px;
}
.btn-sm {
        background-color: $light;
        display: inline-block;
}
img,
video,
audio {
        margin-top: 20px;
        max-width: 80%;
}
caption {

        float: left;
        clear: both;

}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: $grinnell-red;
  color: black;
  text-align: center;
}
h5{
      font-weight: bold;  
}
.row{
        margin-top: 40px;
}
