<% provide(:title, 'All resources') %> 
<h1>All library resources</h1>
    <ul class="items">
        <% @items.each do |item| %>
            <li>
            <%= link_to item.title, item %>
            </li> 
        <% end %>
    </ul>