<nav class="navbar navbar-dark navbar-expand">
  <a class="navbar-brand" href="\#">Grinnell Anti-Racism Library</a>
  <!-- toggle button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="/about_us">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/items">Resources</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item " href="/users/sign_up">This is a test</a>
          <% if user_signed_in? %>
          <a class="dropdown-item " href="/users/sign_up">Sign up</a>
          <a class="dropdown-item" href="/users/sign_in">Sign in</a>
          <% else %>
         <!-- <a class="dropdown-item "> #%=link_to "Logout", destroy_user_session_path, method: :delete %> </a> --> 
          <%= link_to'<button type="button">Logout</button>'.html_safe, destroy_user_session_path, method: :delete %>
          <% end %>
        </div>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/suggest_a_resource">Suggest a resource</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/contact_us">Contact us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light" type="submit">Search</button>
    </form>
  </div>
</nav>